.layout {
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto 1fr;
grid-template-areas:
  "sidebar topbar"
  "sidebar main";
}
.content {
  grid-area: main;
}

.content-expanded {
  grid-template-areas:
    "sidebar topbar"
    "sidebar main";
}

.content-collapsed {
  grid-template-areas:
    "topbar topbar"
    "main main";
}

.sidebar {
  grid-area: sidebar;
}

.topbar {
  grid-area: topbar;
  width: 100%;

  @media (min-width: 960px) {
    width: calc(100% - 240px);
  }
}

.main-content{
  margin-top: 15vh;
}

.margin-top-5vh{
  margin-top: 5vh;
}