.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-container {
  flex-grow: 1;
  flex-basis: 16.666%;
  transition: flex-basis 0.3s ease-in-out;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 83.334%;
  transition: flex-basis 0.3s ease-in-out;
}



.content {
  grid-area: main;
}

.content-expanded {
  grid-template-areas:
    "sidebar topbar"
    "sidebar main";
}

.content-collapsed {
  grid-template-areas:
    "topbar topbar"
    "main main";
}

.sidebar {
  grid-area: sidebar;
}

.topbar {
  width: 100%;
}

.topbar-collapsed {
  width: calc(100% - 64px);
}

.topbar-expanded {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 13rem;
}

.topbar-search-input {
  width: 100%;
  max-width: 50ch;
}

.main-content{
  margin-top: 15vh;
}

.margin-top-5vh{
  margin-top: 5vh;
}