.topbar {
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  z-index:999;
  flex-grow: 1;
}

.topbar-expanded {
  width: 100%;
}

.topbar-collapsed {
  width: calc(100% - 240px);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 13rem;
}

.topbar-search-input {
  width: 100%; /* ajusta a largura do input */
  max-width: 50ch; /* mantém a largura máxima */
}



